#phpleague {
width:100%;
font-size:.8em;
}

#phpleague caption {
width:100%;
font-size:1.4em;
background: #E7E7E7;
text-transform:uppercase;
text-align:center;
font-weight:700;
padding:2px;
}

#phpleague td {
padding:5px;
}

#phpleague .centered {
text-align:center;
}

#phpleague .qualifying,#phpleague .relegation,#phpleague .promotion {
float:left;
height:15px;
width:15px;
}

#phpleague .promotion {
background:url(../img/promotion.png) no-repeat;
}

#phpleague .qualifying {
background:url(../img/qualifying.png) no-repeat;
}

#phpleague .relegation {
background:url(../img/relegation.png) no-repeat;
}

#phpleague img {
vertical-align:middle;
}

#phpleague tr.id-favorite td {
background:url(../img/favorite.png) repeat-x right top;
color:#fff;
font-weight:700;
}

#phpleague tr.id-favorite a {
    color:#fff;
}